* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.theme {
  font-size: 30px;
}

.dark {
  color: #fff;
}

.active {
  color: #ff0000;
  margin-left: 20px;
  margin-right: 20px;
}
.inactive {
  color: #606060;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-active {
  color: #ff0000;
  margin-left: 40vw;
  margin-right: 20px;
}
.menu-inactive {
  color: #606060;
  margin-left: 40vw;
  margin-right: 20px;
}
.banner-logo {
  color: #ff0000;
  font-size: 30px;
}
.close {
  font-size: 20px;
  color: #181818;
}
.logos {
  margin-right: 7px;
}
